h1 {
  font-family: Helvetica;
  text-align: center;
}

.gallery {
  /* faz com que a imagem fique lado a lado */
  display: flex;
  /* espaçamento entre as imagens */
  flex-wrap: wrap;
}

.gallery-item {
  /* determina a largura com flex obs. foi realizado o calc devido 33.333% ter ultrapassado o tamanho de 100% */
  flex: 0 0 calc(33.333% - 10px); 
  /* margem entre as imagens */
  margin: 5px;
}

.gallery-link {
  display: block;
}

.gallery-image {
  /* tamanho da imagem */
  width: 100%;
  /* largura da imagem  */
  height: auto;
  /* efeito de transição */
  transition: transform 0.2s ease-in-out;
  /* defini a largura das imagens */
  height: 300px;
  /* o conteudo e dimensionado para preencher o contêiner mesmo que ele esteja cortado*/
  object-fit: cover;
  /* efeito de ponteiro de mão */
  cursor: pointer;
}

.gallery-image:hover {
  /* efeito de transição */
  transform: scale(0.9);
}

.lightbox {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* fundo opaco com rgba */
  background-color: rgba(0, 0, 0, 0.8);
  /* sempre vai prevalecer diante de outros conteudos  */
  z-index: 100;
}

.lightbox-content {
  /* conteiner flex */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.lightbox-image {
  max-width: 800px;
  object-fit: cover;
}

.lightbox-close {
  /* para de disputar com as imagens */
  position: absolute;
  top: 1rem;
  right: 2rem;
  font-size: 2rem;
  color: #fff;
  border: 1px solid #fff;
  padding: 0.1rem 0.3rem;
  text-decoration: none;
  cursor: pointer;
  transition: 0.5s;
}

.lightbox-close:hover {
  background-color: #fff;
  color: #000;
}
