@charset "UTF-8";

/* 
Paleta de cores

*/

*{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body, html {
    /* cor do fundo */
    background-color: rgb(34, 235, 68);
    /* altura de 100% da tela */
    height: 100vh;
    /* largura de 100% */
    width: 100vw;
}

main {
    /* Definir as propriedades superior, direita, inferior e esquerda de um elemento relativamente posicionado fará com que ele seja ajustado para longe de sua posição normal. */
    position: relative;
    /* altura 100% da tela */
    height: 100vh;
    /* largura 100% da tela */
    width: 100vw;
}

/* aqui o objetivo e deixa centralizado a tela de login */
section#login {
    /* Elementos posicionados absolutos são removidos do fluxo normal e podem sobrepor elementos. */
    position: absolute;
    /* direcionamento cima */
    top: 50%;
    /* direcionamento esquerda */
    left: 50%;
    /* O translate()método move um elemento de sua posição atual (de acordo com os parâmetros fornecidos para o eixo X e o eixo Y). */
    transform: translate(-50%, -50%);
    /* O estouro é cortado e o restante do conteúdo ficará invisível */
    overflow: hidden;

    /* cor de fundo */
    background-color: white;
    /* largura */
    width: 300px;
    /* altura */
    height: 600px;
    /* cria arrendondamento  */
    border-radius: 20px;
    /* sobra na caixa */
    box-shadow: 0px 0px 10px black;

    /* animação de mudança de telas  */
    transition: width 0.3s, height 0.3s;
    /* tempo de animação */
    transition-timing-function: ease;
}


section#login > div#imagem {
    /* cria um bloco */
    display: block;
    /* fundo azul com imagem */
    background: rgb(34, 235, 68) url(../imagens/telalogin.jpg) no-repeat;
    /* deixa as imagens completas */
    background-size: cover;
    /* posição da imagem */
    background-position: left bottom;
    /* altura */
    height: 300px;
}

section#login > div#formulario {
    /* cria um bloco */
    display: block;
    /* espaçamento  */
    padding: 9px;
}

div#formulario > h1 {
    text-align: center;
    margin-bottom: 10px;
}

div#formulario > p {
    font-size: 0.8em;
}

/* Formatação do Botão entrar */
form > input[type=submit] {
    /* cria um bloco faz com que outros elementos fiquem abaixo */
    display: block;
    /* margens fora */
    margin: 5px;
    /* tamanho da fonte */
    font-size: 1em;
    /* obs. 100% e não vw, motivo não e o tamanho da tela e sim da caixa de login */
    width: 95%;
    /* altura */
    height: 30px;
    background-color: greenyellow;
    /* corda da fonte */
    /* color: white; */
    /* tira borda padrão */
    border: none;
    /* coloca a borda arredondada */
    border-radius: 10px;
    /* coloco a maozinha ao posiciona o ponteiro do mouse acima do botão */
    cursor: pointer;
}

/* efetio ao passar o poteiro do mouse no botão, muda a cor  */
form > input[type=submit]:hover {
    background-color:rgb(34, 235, 68);
}

/* o link da classe botão que está dentro do form  */
form > a.botao {
    /* cria um bloco */
    display: block;
    /* alinhamento do texto ao centro */
    text-align: center;
    /* tamanho da fonte */
    font-size: 1em;
    /* largura da tela sendo 100% da tela do login */
    width: 100%;
    /* altura da caixa */
    height: 40px;
    /* altura acima */
    padding-top: 5px;
    /* margem de cima */
    margin-top: 5px;
    /* cor de fundo */
    background-color: rgb(34, 235, 68);
    color: rgb(2, 26, 12);
    /* cria uma borda na caixa */
    border: 1px solid rebeccapurple;
    /* borda fica arredondada */
    border-radius: 10px;
    /* tira o sublinhado do link */
    text-decoration: none;
}

/* efetio ao passar o poteiro do mouse no botão, muda a cor  */
form  > a.botao:hover {
    background-color: rebeccapurple;
}

/* posiciona o icon imail */
form > a.botao > span {
    font-size: 1.3em;
}