* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    width: 500px;
    margin: 0 auto; /* centraliza o formulario */
    padding: 1rem;
}

h1 {
    text-align: center; /* centralizar o elemento */
    margin-bottom: 1rem;
}

form {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.form-control {
     display: flex;
     flex-direction: column;
     gap: 0.5rem;
}

label {
    font-weight: bold; /* titulo da caixas deixar em negrito */
}

input,textarea  {
    padding: .6rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
}

.error-message {
    color: red;
    margin-top: 0.2rem;
}

.btnsubmit {
    background-color: blue;
    color: white;
    padding: 0.6rem 1.2rem;
    border: none;
    border-radius: 5px;
    font-size: 1.2rem;
    cursor: pointer;
    transition: 0.4;
}

.btnhome{
    margin: 10px;
    padding: 10px;
    border-radius: 25px;
}

.topo{
    margin: 0 auto;
    padding: 5px;
    justify-content: center;
    color: white;
    background-color: rgb(21, 21, 168);
 }

.btnsubmit:hover {
    background-color: rgb(21, 21, 168);
}

.error input,
.error textarea {
    border-color: red;
}

