
/* todo conteudo vai sofrer alteração */
* {
    /* especifica que a largura e a altura de um elemento devem incluir a borda e o preenchimento */
  box-sizing: border-box;
  /* Isso significa que não haverá espaço entre o elemento e seus elementos adjacentes. */
  margin: 0;
  /* Isso significa que não haverá espaço entre o conteúdo do elemento e suas bordas. */
  padding: 0;
}

body {
    /* tipo de fonte  */
  font-family: Arial, sans-serif;
  /* fundo do corpo */
  background-color: #cabebe;
  /*contêiner que permite que seus elementos filhos sejam organizados de maneira flexível */
  display: grid;
  /* align e justify Este código centralizará o flex container tanto no eixo transversal quanto no eixo principal.*/
  align-items: center;
  justify-content: center;
  /* altura 100% da página  */
  height: 100vh;
}

/* é uma ferramenta poderosa que pode ser usada para estilizar contêineres flexíveis de várias maneiras.  */
.container1 {
  display: grid;
  /* Cor da container */
  background-color: #fff;
  /* Cria uma borda arredandada */
  border-radius: 10px;
  /* da um efeito no container */
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  /* usada para adicionar preenchimento a todos os quatro lados de um elemento ou a lados específicos de um elemento. */
  padding: 1.5rem;
  /* Largura */
  width: 400px;
}

.container {
    display: grid;
    /* Cor da container */
    justify-content: center;
    background-color: #fff;
    /* Cria uma borda arredandada */
    border-radius: 10px;
    /* da um efeito no container */
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);
    /* usada para adicionar preenchimento a todos os quatro lados de um elemento ou a lados específicos de um elemento. */
    padding: 20px;
    /* Largura */
    width: 400px;
    margin-bottom: 10px;
    margin-top: 10px;
   
}

nav {
    padding: 10px;
    text-align: center;
}
  
nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
  
nav li {
    display: inline-block;
    width: 100px;
    text-align: center;
    /* justify-content: space-between; */
}
  
nav a {
    color: #bb3e28;
    padding: 10px;
    border-radius: 5px;
    /* text-decoration para tirar o sublilhado */
    text-decoration: none;
    font-weight: bold;
    transition-duration: 0.5s;
  }
  
nav a:hover {
    background-color: #b4412d;
    color: #000;

}

/* estilização do h1 */
h1 {
    /* tamanho da fonte */
  font-size: 24px;
  /* distanciamento  */
  margin-bottom: 20px;
  /* alinhamento do texto no centro */
  text-align: center;
}

a {
    text-decoration: none;
}

/* classe onde tem os inputs */
.input-group {
  /* ficam um abaixo do outro */
  display: flex;
  /* em coluna */
  flex-direction: column;
  /* espaçamento */
  margin-bottom: 15px;
}

/* classe onde tem os inputs */
.input-group label {
  /* label a legenda das caixas */
  margin-bottom: 5px;
  /* deixa destacada a letras */
  font-weight: bold;
}

select,
input[type="number"],
input[type="text"] {
  padding: 10px;
  border-radius: 5px;
  /* tira a borda das caixas */
  border: none;
  font-size: 16px;
  background-color: #eee;
}

.container1 > button {
  background-color: #bb3e28;
  border-radius: 5px;
  border: none;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  padding: 10px 20px;
  opacity: 0.7;
  transition: 0.4s;
}

button:hover {
  opacity: 1;
}

/* classe do resultado */
.output-group {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

/* classe do resultado */
.output-group label {
  margin-bottom: 5px;
  font-weight: bold;
}

#message {
  font-size: 14px;
  color: #4caf50;
  margin-top: 10px;
  text-align: center;
}
