/* Como padrão todos navegadores por padrão colocam margens e espaçamentos */

* {
    /* tirar as margens dos lados externos */
    margin: 0;
    /* tirar espaçamentos internos */
    padding: 0;
    /* cria borda para identificação de tags*/
    box-sizing: border-box;
}

/* todos elementos vão ser considerados flexiveis */
body {
display: flex;
margin: 3 px;
}

header {
display: flex;
margin: 3 px;
}

nav {
display: flex;
margin: 3 px;
}

main {
display: flex;
margin: 3 px;
}

aside {
display: flex;
margin: 3 px;
}

footer {
display: flex;
margin: 3 px;
}