@charset "UTF-8";

/* primeiro break point */
@media screen and (min-width: 40em) { 

    .container {
        /* cria um grid de 8x7 destinado para larguras de viewport a aparti de 40em (400px) */
        display: grid;
        grid-template-columns: repeat(8, 1fr);
        grid-template-rows: 100px repeat(6, minmax(30px, auto));
        gap: 0 10px;
    }
    
    .topo {
        /* toda linha 1 que tem 8 col */
        grid-column: 1 / -1;
    }
    
    nav {
        /* toda linha 1 que tem 8 col */
        grid-column: 1 / -1;
    }

    main {
        /* toda linha 1 que tem 8 col */
        grid-column: 1 / -1;
        /* porem vai para linha 4 toda  */
        grid-row: 4;
        /* declaro main como grid */
        display: grid;


    }
}