* {
    margin: 0;
    padding: 0;
}

header{
    grid-area: cabecalho;
}

nav{
    grid-area: nav;
}

main {
    grid-area: conteudo;
}

footer{
    grid-area: rodape;
 
}

body {
    display: grida;
}
