* {
    margin: 0;
    padding: 0;
}

.container {
    display: grid;
    grid-template-columns: 100px 50px 80px 200px;
    grid-template-rows: 80px 100px 100px;
    gap: 10px;
    border: 10px;
    margin: 10px 10px 10px 10px;
    background-color: brown;

}

.container1 {
    display: grid;
    grid-template-columns: 50px 50px 50px 50px;
    grid-template-rows: 50px 50px 50px;
    background-color: blue;
}

.tudo {
    display: grid;
    grid-template-columns: 40px 40px 40px;
    grid-template-rows: 40px 40px 40px;
    background-color: green;
}