@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Rubik+Pixels&display=swap');


.container2 {
    display: flex;
    justify-content: center;
    font-family: 'Rubik Pixels', cursive;
}

.clock {
    font-size: 4rem;
    font-weight: bold;
    color: #741212;
    text-align: center;
    border: 2px solid #0e0d0d;
    border-radius: 1rem;
    padding: 1rem 2rem;
    height: 70px;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
 }
  
.clock span {
    margin-right: 0.5rem;
}

html {
    box-sizing: border-box;
    font: 10px sans-serif;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    margin: 0 0.8rem;
}

h1 {
    font-size: 2rem;
    margin: 0 0 1rem 0;
    width: 100%;
    text-align: center;
}

ul {
    list-style: none;
    margin: 1rem 0;
    padding: 0;
    font-size: 1.4rem;
}

li {
    font-size: 1.3rem;
    text-align: center;
    margin: 30px;
    padding: 10px;
}

button {
    border: none;
    padding: 20px;
    border-radius: 7px;
    cursor: pointer;
    width: 100%;
    height: 40px;
    margin: 0 auto;
    background-color: red;
    color: white;
    margin-bottom: auto;
}

button:hover {
    background-color: black;
}

img {
    display: flex;
    width: 100px;  
}


.cabecalho {
    display: flex;
    font-family: 'Play', sans-serif;
    font-size: 9em;
    color: rgb(175, 13, 13);
    width: 400px;
}

.container {
    display: flex;
    flex-flow: column;
    justify-content: center;
}

.container1 {
    display: flex;
    flex-flow: column;
    justify-content: center;
}

.container1 > header > p {
    font-family: 'Play', sans-serif;
    font-size: 2em;
    text-align: center;
}

.projetinho {
    display: flex;
    flex-flow: wrap;
    justify-content: center; /* alinhamento conteudo centro*/
    border: 1px solid #ccc;
    border-radius: 1rem;
    padding: 0.8rem;
    width: 100%;
    min-width: 24rem;
    max-width: 30rem;
    margin: 0 auto;
    margin-bottom: 1rem;
    box-shadow: 1px 1px 1px 1px rgb(128, 6, 6);
}

 @media all and (min-width: 35rem) {
    body {
        margin: 0 auto;
    }
    .container {
    max-width: 1200px; 
    margin: 0 auto;
    flex-flow: row wrap;
    }

    .container1 {
        max-width: 1200px; 
        margin: 0 auto;
        flex-flow: row wrap;
        }
    .projetinho {
        max-width: 20rem;
        margin: 0.5rem;
    }
 }