@charset "UTF-8";

html {
    box-sizing: border-box;
    font: 10px sans-serif;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    margin: 0 0.8rem;
}

h1 {
    font-size: 2rem;
    margin: 0 0 1rem 0;
    width: 100%;
    text-align: center;
}

ul {
    list-style: none;
    margin: 1rem 0;
    padding: 0;
    font-size: 1.4rem;
}

li {
    font-size: 2rem;
}

button {
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
    height: 40px;
    margin: auto 0 1rem auto;
    background-color: red;
    color: white;
}

button:hover {
    background-color: black;
}

img {
    width: 100px;
}


.cabecalho {
    display: flex;
    font-family: 'Play', sans-serif;
    font-size: 9em;
    color: rgb(175, 13, 13);
    width: 400px;
}

.container {
    display: flex;
    flex-flow: column;
    justify-content: center;
}

.container1 {
    display: flex;
    flex-flow: column;
    justify-content: center;
}

.container1 > header > p {
    font-family: 'Play', sans-serif;
    font-size: 2em;
    text-align: center;
}

.projetinho {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    border: 1px solid #ccc;
    border-radius: 1rem;
    padding: 0.8rem;
    width: 100%;
    min-width: 24rem;
    max-width: 30rem;
    margin: 0 auto;
    margin-bottom: 1rem;
    box-shadow: 1px 1px 1px 1px rgb(128, 6, 6);
}

 @media all and (min-width: 35rem) {
    body {
        margin: 0 auto;
    }
    .container {
    max-width: 1200px; 
    margin: 0 auto;
    flex-flow: row wrap;
    }

    .container1 {
        max-width: 1200px; 
        margin: 0 auto;
        flex-flow: row wrap;
        }
    .projetinho {
        max-width: 28rem;
        margin: 1rem;
    }
 }