* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    display: flex;
    /* faz com que fique um elemento em baixo do outro */
    flex-direction: column;
    /* alinha no centro */
    align-items: center;
    /* tamanho da tela */
    height: 100vh;
}

h1 {
    /* distancia pra separar da paleta */
    margin-bottom: 2rem;
    text-align: center;
}

.container {
    /* flex: elemento padrão para container */
    display: flex;
    /* faz centralizar o itens ao centro */
    flex-direction: column;
    /* faz centralizar no centro */
    justify-content: center;
}

.colors {
    /* flex: elemento padrão para o conteiner */
    display: flex;
    /* alinhamento horizontal */
    justify-content: center;
    /* alinhamento vertical */
    align-items: center;
}

/* container que vai conter a cores */
.colors div {
    /* background-color: red; */
    width: 100px;
    height: 100px;
    margin: 0 0.5rem;
    border-radius: 5px;
    box-shadow: 0px 0px 10px black;
    transition: 0.2;

    position: relative;
}

.colors div:hover {
    transform: scale(1.1);
}

.colors div p {
    position: absolute;
    top: 100px;
}

#generate-button {
    background-color: blueviolet;
    border: none;
    border-radius: 8px;
    color: white;
    font-size: 1.2rem;
    padding: 0.8rem 1.2rem;
    cursor: pointer;
    transition: 0.3s;
    margin-top: 3.5rem;
}

#generate-button:hover {
    background-color: rgb(171, 129, 211);
}


